<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container" id="button">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" id="btn">
                    <span class="icon-bar" id="bar1"></span>
                    <span class="icon-bar" id="bar2"></span>
                    <span class="icon-bar" id="bar3"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav" id="navbartext">
                    <li id="navbaroption">@Html.ActionLink("Home", "Index", "Reviews")</li>
                    <li id="navbaroption">@Html.ActionLink("About", "About", "Home")</liid="navbaroption">
                    <li id="navbaroption">@Html.ActionLink("Contact", "Contact", "Home")</liid="navbaroption">
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" id="backround">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
